<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Exercise Selection</title>
        <link rel="stylesheet" href="/exercise.css" />
    </head>
    <body>
        <div class="eHeader">
            <% if (year && month && day) { %>
            <h1>Add Workout</h1> <h1><%= month %>/<%= day %>/<%= year %></h1>
            <% } else { const today = new Date(); %>
            <h1>
                Add Workout</h1> <h1><%= today.getMonth() + 1 %>/<%=
                today.getDate() %>/<%= today.getFullYear() %>
            </h1>
            <% } %>
        </div>
        <div class="button-container">
            <a
                href="/exercise/upper?<%= year && month && day ? `year=${year}&month=${month}&day=${day}` : '' %>"
            >
                <button class="exercise-button upper-button">
                    💪 Upper Body
                </button>
            </a>
            <a
                href="/exercise/lower?<%= year && month && day ? `year=${year}&month=${month}&day=${day}` : '' %>"
            >
                <button class="exercise-button lower-button">
                    🦵 Lower Body
                </button>
            </a>
            <a
                href="/exercise/run?<%= year && month && day ? `year=${year}&month=${month}&day=${day}` : '' %>"
            >
                <button class="exercise-button run-button">🏃 Run</button>
            </a>
        </div>
        <div class="bottom-buttons">
            <div class="back-button">
                <% if (year && month && day) { %>
                <a href="/calendar?year=<%= year %>&month=<%= month %>">
                    <button class="back-button">Back to Calendar</button>
                </a>
                <% } else { %>
                <a href="/">
                    <button class="back-button">Back to Home</button>
                </a>
                <% } %>
            </div>
            <div class="logout-container">
                <a href="/log-out">
                    <button class="logout-button">Log Out</button>
                </a>
            </div>
        </div>
    </body>
</html>
