<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= exerciseType %> Exercises</title>
        <link rel="stylesheet" href="/exercise.css" />
    </head>
    <body>
        <div class="eHeader">
            <h1><%= exerciseType %> Exercises</h1>
        </div>
        <div class="exercisePContainer">
            <% exercises.forEach(exercise => { %>
            <div class="exerciseP">
                <a href="/exercise/insertData?exerciseId=<%= exercise.id %><%= year && month && day ? `&year=${year}&month=${month}&day=${day}` : '' %>">
                    <button><%= exercise.name %></button>
                </a>
            </div>
            <% }) %>
        </div>
        <div class="bottom-buttons">
            <a href="/exercise?<%= year && month && day ? `year=${year}&month=${month}&day=${day}` : '' %>">
                <button class="back-button">Back</button>
            </a>
        </div>
    </body>
</html>
